/* .hide {
    display: none;
} */

.add-page {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 25px;
}

h2 {
    text-align: center;
}

.guide-section {
    text-align: center;
}

.add-review-form {
    text-align: center;
}

input {
    padding: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}


label::before {
    content: "\A";
    white-space: pre;
}

label::after {
    content: "\A";
    white-space: pre;
}

.rating-input {
    padding: 5px;
}

.add-button {
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}

div {
    padding: 5px;
}

textarea {
    margin-top: 15px;
    height: 300px;
}

.user-input {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 550px) {

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    label {
        font-size: 25px;
    }

    input {
        width: 350px;
        height: 50px;
    }

    textarea {
        width: 315px;
        height: 350px;
    }

}

@media screen and (min-width: 640px) {
    .guide-section {
        justify-content: center;
        align-items: center;
    }
    
    .rating-guide {
        display: flex;
        flex-direction: column;
    }

    textarea {
        width: 100%
    }
}

@media screen and (min-width: 800px) {
    .guide-section {
        display: flex;
        padding: 50px;
    }

    .user-input {
        margin-bottom: -15px;
    }

    .user-field, .title-field, .author-field {
        display: inline-block;
    }

    textarea {
        width: 75%;
    }

    h2, h3 {
        font-size: 30px;
        margin-bottom: 0;
    }

    h4 {
        padding: 5px;
        margin: 5px;
    }

    .rating-guide {
        display: flex;
        padding: 50px;
        font-size: 20px;
    }

    .rating-field {
        display: inline-block;
    }
}