h1 {
    text-align: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

label {
    padding: 15px;
}

.signin-button {
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    padding: 5px;
}

.link-to-signup {
    margin: 0 auto;
}