h1 {
    text-align: center;
}

.demo-info {
    text-align: center;
    font-size: 18px;
}

.demo-info:hover {
    font-size: 22px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

label {
    padding: 15px;
}

.signin-button {
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    padding: 5px;
}

.signin-button:hover {
    font-size: larger;
    color: white;
    background: black;
    transition-property: inherit;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    border-radius: 30%;

}

.link-to-signup {
    margin: 0 auto;
    font-size: 20px;
}

.link-to-signup:hover {
    font-size: 25px;
}

.link:hover {
    font-size: 28px;
    color: white;
}

/* @media screen and (min-width: 500px) {
    .demo-info {
        display: flex;
    }
} */