section {
    padding: 35px;
}

.dashboard {
    text-align: center;
}

.signout-button {
    float: right;
}

.signout-button:hover {
    font-size: 18px;
    color: red;
}

.hide {
    display: none;
}

/* .view-reviews {
    display: flex;
    flex-direction: column;
} */
