section {
    padding: 5px;
}

.dashboard {
    text-align: center;
}

.signout-section {
    margin: 10px;
    padding: 15px;
}

.signout-button {
    float: right;
}

.signout-button:hover {
    font-size: 18px;
    color: white;
}

.add-link-section:hover {
    font-size: 25px;
}

.hide {
    display: none;
}

@media screen and (min-width: 650px) {
    .add-link-section {
        font-size: 22px;
    }
}


@media screen and (min-width: 800px) {
    .add-link-section {
        font-size: 24px;
    }
}