section {
    padding: 35px;
}

.dashboard {
    text-align: center;
}

.signout-button {
    float: right;
}

.signout-button:hover {
    font-size: 18px;
    color: red;
}

.hide {
    display: none;
}

@media screen and (min-width: 650px) {
    h4 {
        font-size: 22px;
        margin-bottom: -30px;
    }
}


@media screen and (min-width: 800px) {
    h4 {
        font-size: 24px;
    }
}