.reviews-section {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
} 

select {
    padding: 10px;
    margin: 15px;
    font-size: 16px;
}

input {
    text-align: center;
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    font-weight: bolder;
}

.rating-search-form  {
    padding: 15px;
    height: 150px;
}

.user-search-form {
    padding: 15px;
    height: 150px;
}

.results {
    width: 150%;
    padding: 5px;
}

.review-result {
    display: block;
    width: 75%;
    padding: 3px;
    border: 2px solid;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background: cornsilk;
    font-size: 18px;
}

p {
    line-height: 25px;
}

footer {
    text-align: center;
}

button:hover {
    font-size: larger;
    color: whitesmoke;
    background: black;
    transition-property: inherit;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    border-radius: 30%;
}

@media screen and (min-width: 500px) {
    .results {
        width: auto;
        margin-top: 45px;
    }
}

@media screen and (min-width: 650px) {

    .search-by-rating, .search-by-user {
        padding: 0;
    }

    select {
        height: 75px;
        width: 200px;
    }
    
    input {
        height: 53px;
    }

    .user-search-button, .rating-button {
        padding: 10px;
        margin: 5px;
    }

    button {
        width: 100px;
        height: 50px;
    }

    .search-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: auto;
        margin: 30px;
        padding: 15px;
    } 

    .review-result {
        padding: 40px;
        margin-top: 100px;
        margin-bottom: 35px;
    }

    /* .results {
        width: auto;
        margin-top: 15px;
    } */

    .user_heading, .title_heading, .author_heading, .rating_heading, .content_heading {
        display: flex;
        align-items: flex-start;
        padding: 10px;
    }

    .result-field {
        display: flex;
        align-items: flex-end;
        text-align: left;
        padding: 8px;
    }
}

