/* these are not centering at 300px */
.rating-search-form, .user-search-form  {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

label {
    text-align: center;
    font-size: 18px;
}

select, input {
    font-size: 16px;
    width: 250px;
    height: auto;
    padding: 10px;
}

option, input {
    padding: 10px;
}

.rating-button, .user-search-button {
    margin-left: auto;
    margin-right: auto;
}

.review-result {
    padding: 10px;
}