
.rating-search-form, .user-search-form  {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

label {
    text-align: center;
}

select, input {
    width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

option, input {
    padding: 10px;
}

.rating-button, .user-search-button {
    margin-left: auto;
    margin-right: auto;
}