.App-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    font-size: 35px;
}

/* .App {
    background-image: url(https://pbs.twimg.com/profile_images/605116406724706304/3zmRL_LG_400x400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

