.App-header {
    padding: 25px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .App {
    background-image: url(https://pbs.twimg.com/profile_images/605116406724706304/3zmRL_LG_400x400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

