.App-header {
    margin: 5px;
    padding: 15px;
    font-size: 35px;
    text-align: center;
}

.App {
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
}

.App img {
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    opacity: 0.6;
    z-index: -1;
}

