.about {
    padding: 15px;
    font-weight: bold;
    font-size: 17px;
    background: cornsilk;
    opacity: 0.7;
    margin-left: 50px;
    margin-right: 50px;
}

.link:hover {
    font-size: 19px;
    font-weight: bold;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

@media screen and (min-width: 650px) {
    .about {
        padding-left: 75px;
        padding-right: 75px;
        font-size: 20px;
    }
    .link:hover {
        font-size: 25px;
    }
}



