ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-weight: lighter;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    list-style-type: none;
}

.nav {
    padding: 5px;
}

.nav-link:active {
    color: black;
}
 
.nav:hover {
    font-size: 26px;
    font-weight: 400;
    font-size: larger;
    background: white;
    transition-property: inherit;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    border-radius: 30%;
}

.hide {
    display: none;
}

@media screen and (min-width:550px) {

    ul {
        float: right;
        font-size: 23px;
    }

    .nav:hover {
        font-size: 29px;
    }

}