h1 {
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

label {
    padding: 15px;
}

.signup-button {
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}
